<div align="center" class="AddJobBox" >
  <h4>Add New Job</h4>
  <form (ngSubmit)="AddJob(job);jobForm.reset()" #jobForm="ngForm">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" [(ngModel)]="job.name" #name="ngModel" class="form-control" name="name" id="name" required autocomplete="off" />
    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Name is required
    </div>
  </div>

  <button type="submit" [disabled]="!jobForm.form.valid" class="btn btn-success btn-block">Print</button>
</form>
</div>

<div *ngIf="jobs.length > 0" class="JobListBox">
  <h2 align="center">Printer Job's Queue</h2>
  <table class="table table-bordred table-striped">
      <thead>
        <th>Job</th>
        <th>Status</th>
        <th>Created At</th>
        <th>StartTime</th>
        <th>EndTime</th>
        <th>Duration</th>
        <th>Up</th>
        <th>Down</th>
        <th>Delete</th>
        <th>Cancel</th>
      </thead>
     <tbody>
         <tr *ngFor="let job of jobs; let i = index">
           <td>{{job.name}}</td>
           <td [ngClass]="{'text-primary':job.status=='Printing',
                        'text-success':job.status=='Done',
                        'text-danger':job.status=='Canceled',
                         'text-warning':job.status=='Queued'}">{{job.status}}</td>
           <td>{{job.createdAt | date:'dd/MM/yyyy HH:mm:ss'}} </td>
           <td>{{job.startTime | date:'dd/MM/yyyy HH:mm:ss'}} </td>
           <td>{{job.endTime | date:'dd/MM/yyyy HH:mm:ss'}} </td>
           <td>{{job.duration | mili2sec}} </td>
           <td><button class="btn btn-xs" (click) = "JobUp(i)" [disabled]="JobUpDisabled(job,i)"><span class="	glyphicon glyphicon-arrow-up"></span></button></td>
           <td><button class="btn btn-xs" (click) = "JobDown(i)" [disabled]="JobDownDisabled(job,i)" ><span class="	glyphicon glyphicon-arrow-down"></span></button></td>
           <td><button class="btn btn-danger btn-xs" (click)= "DeleteJob(job)" [disabled]="job.status=='Printing'"><span class="glyphicon glyphicon-trash"></span></button></td>
           <td><button class="btn btn-danger btn-xs" (click)= "CancelJob(job)" [disabled]="job.status!='Printing'"><span class="glyphicon glyphicon-remove"></span></button></td>
         </tr>

      <tr>
    </tbody>
  </table>

</div>
<div *ngIf="!errorMsg && jobs.length <= 0" class="NoJobsBox">
  <div align="center" class="alert alert-info" role="alert">
    <strong>No Jobs Available in Database</strong>
  </div>
</div>
<div *ngIf="errorMsg">
  <div align="center" class="alert alert-danger" role="alert">
    <strong>No Connection to server!</strong>
    <div>{{errorMsg}}</div>
  </div>
</div>
